# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Logic\Desktop\my life\大三\基于深度学习的目标追踪\Yolov5_DeepSort_Pytorch-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
